{% extends 'base.html' %}

{% block title %}
    
{% endblock %}
{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-center">Support</h1>
    <p class="text-lg text-gray-700 text-center">Need help? We're here for you.</p>
  
    <div class="mt-8">
      <h2 class="text-2xl font-bold">Account Support</h2>
      <ul class="list-disc space-y-2">
        <li class="mt-5"><a href="{{ url_for('index.create')}}" class="text-blue-500 hover:text-blue-700">Create an Account</a></li>
        <li><a href="#" class="text-blue-500 hover:text-blue-700">Reset Password</a></li>
        <li><a href="#" class="text-blue-500 hover:text-blue-700">Update Profile</a></li>
        <li><a href="#" class="text-blue-500 hover:text-blue-700">Cancel Account</a></li>
        <li><a href="#" class="text-blue-500 hover:text-blue-700">Login Issues</a></li>
        <li><a href="#" class="text-blue-500 hover:text-blue-700">Account Recovery</a></li>
        <li><a href="#" class="text-blue-500 hover:text-blue-700">Technical Problems</a></li>
        <li><a href="#" class="text-blue-500 hover:text-blue-700">Contact Support</a></li>
        <li><a href="#" class="text-blue-500 hover:text-blue-700">Report Fraud/Abuse</a></li>
        <li><a href="#" class="text-blue-500 hover:text-blue-700">Report a Bug</a></li>
      </ul>
    </div>
  
    </div>

{% endblock %}